@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Urbanist", sans-serif;
}

.active {
    color: #ffffff;
    background-color: #105090;
}

.active svg {
    fill: #ffffff;
}

ul svg {
    fill: #797979;
}
.statusDropDown:hover .DropDownTable{
    opacity: 1;
    visibility: visible;
    top: 70px;
}
.Notifications::-webkit-scrollbar {
    display: none;
}
.ulFilter.act {
    height: 224.44px;
}