@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Urbanist", sans-serif;
}

.active {
  color: #ffffff;
  background-color: #105090;
  padding-top: 10px;
  padding-bottom: 10px;
}

.active svg {
  fill: #ffffff;
}

ul svg {
  fill: #797979;
}

.HideScroll::-webkit-scrollbar {
  display: none;
}

.ulFilter.act {
  height: 224.44px;
}

.linePercentageAnimation {
  animation: forwards lineAnimation 1.4s;
}

@keyframes lineAnimation {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #365b98;
  border-radius: 6px;
}

textarea {
  resize: none;
}

li {
  position: relative;
  cursor: pointer;
}

.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: #224886;
  z-index: 10;
}

li.selected {
  color: #224886;
}

.chartAnimation::after {
  animation: forwards animationChart 4.4s;
}

@keyframes animationChart {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  opacity: 0;
}
