@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Urbanist", sans-serif;
}

.active {
    color: #ffffff;
    background-color: #105090;
    padding-top: 10px;
    padding-bottom: 10px;
}

.active svg {
    fill: #ffffff;
}

ul svg {
    fill: #797979;
}

.HideScroll::-webkit-scrollbar {
    display: none;
}

.ulFilter.act {
    height: 224.44px;
}

.linePercentageAnimation {
    animation: forwards lineAnimation 1.4s;
}

@keyframes lineAnimation {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}


::-webkit-scrollbar {
    width: 4px;
    height: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #365B98;
    border-radius: 6px;
}